body {
  font-family: "Inter", "Segoe UI", sans-serif;
  background-color: #84b998;
  color: #2a3330;
  margin: 0;
  padding: 0;
  height: 100%;
}



h1 {
  font-size: 28px;
  margin-bottom: 24px;
}

h2 {
  font-size: 20px;
  margin-bottom: 16px;
}
